.App {
  text-align: center;
}
.title{
  text-align: certer

}
.app-list{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  list-style: none;
  padding: 0;
  margin-left: 100px;
  margin-right: 100px;
}
.app-item{
  height: 380px;
  background-color:#f57738;
  border: 1px solid black;
  text-align: center;
  overflow:hidden;

}
.container-imagen{
  max-height: 250px;
  overflow: hidden;
}
.imagen-card{
  width: 100%;
}
.descrption-card{
  color: white;
  font-size: 0.7rem
}
a{
  text-decoration: none;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
