.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.title{
  text-align: certer;

}
.app-list{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  list-style: none;
  padding: 0;
  margin-left: 100px;
  margin-right: 100px;
}
.app-item{
  height: 450px;
  background-color:#f57738;
  border: 1px solid black;
  text-align: center;
  overflow:hidden;

}
.container-imagen{
  height: 350px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.imagen-card{
  width: 0px;
  height: 0px;
}
.descrption-card{
  color: white;
  font-size: 0.7rem
}
a{
  text-decoration: none;
}
.description {
  text-decoration: none;
  color:#ffffff;
}
.container-detail{
  padding-top: 100px;
}
.app-item-detail{
  display: grid;
  grid-template-columns:250px 1fr;
  height: 350px;
  width: 600px;
  background-color:#f57738;
  border: 1px solid black;

}
.container-imagen-detail{
  height: 350px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

}
.imagen-detail{
  width: 0px;
  height: 0px;
}
.description-detail{
  text-align: left;
  color:#ffffff;
  padding-left: 45px;

}
.title-detail{
  text-align: center;
  padding-bottom: 50px;
}
.back-btn{
  color:#ffffff;
  border-style: double;
  border-radius: 5xp;
  padding: 5px 10px 5px 10px ;
}
